@model Models.Instructor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.FoundationId)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.FoundationId)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Name)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.Name)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.BirthDate)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.BirthDate)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.HiringDate)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.HiringDate)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Department)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.Department)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.WorkPlace)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.WorkPlace)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Major)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.Major)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.GraduationeDate)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.GraduationeDate)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.AcademicDegree)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.AcademicDegree)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.AcademicDegreeeDate)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.AcademicDegreeeDate)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.PhoneNumber)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.PhoneNumber)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.OtherPhoneNumber)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.OtherPhoneNumber)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Email)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.Email)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Degree)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.Degree!.Name)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Sector)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-2"><h4>@Html.DisplayFor(model => model.Sector!.Name)</h4></div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
