@using Models.StaticData
@model Models.ViewModels.CourseIndexVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div class="row">
    <div class="dropdown col-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            التقرير النهائى لبرنامج تدريبيى
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-controller="Course" asp-action="print" asp-route-CouresId="@Model.Id" asp-route-Type="5" asp-route-Export="1" target="_blank">PDF</a></li>
            <li><a class="dropdown-item" asp-controller="Course" asp-action="print" asp-route-CouresId="@Model.Id" asp-route-Type="5" asp-route-Export="2" target="_blank">Word</a></li>
        </ul>
    </div>
</div>
<div>
    <h4>Course</h4>
    <hr />

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Name)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.Name)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.TargetSector)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.TargetSector)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Participants)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.Participants)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.ImplementationPlace)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.ImplementationPlace)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.DaysCount)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.DaysCount)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.ImplementedDays)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.ImplementedDays)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.BeginningDate)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.BeginningDate)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.EndingDate)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.EndingDate)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.TraineesNumber)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.TraineesNumber)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Cost)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.Cost)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.PdfFile)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto">
            @Html.DisplayFor(model => model.PdfFile)
            @if (!string.IsNullOrEmpty(Model.PdfFile))
            {
                <a href="@Url.Action("DownloadFile", "course", new { fileName = Model.PdfFile })" class="btn btn-primary">
                    <i class="bi bi-download"></i>
                </a>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Link)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto">
            <a href="@Model.Link" target="_blank">@Model.Link</a>
        </div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.RatingSpecialist)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.RatingSpecialist)</h4></div>
    </div>

    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.TrainingSpecialistName)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.TrainingSpecialistName)</h4></div>
    </div>
    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.FundingEntity)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto"><h4>@Html.DisplayFor(model => model.FundingEntity)</h4></div>
    </div>
    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.Notes)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto">
            <div class="card">
                <div class="card-body">
                    @{
                        if (Model.Notes != null)
                        {

                            @foreach (var note in Model.Notes!.Split("\n"))
                            {
                                <h4>
                                    @note
                                </h4>
                            }

                        }
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.RatingSpecialistNotes)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto">
            <div class="card">
                <div class="card-body">
                    @{
                        if (Model.RatingSpecialistNotes != null)
                        {

                            @foreach (var note in Model.RatingSpecialistNotes!.Split("\n"))
                            {
                                <h4>
                                    @note
                                </h4>
                            }

                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2"><h4><b>@Html.DisplayNameFor(model => model.TraineesNotes)</b></h4></div>
        <div class="col-1"><h4>:</h4></div>
        <div class="col-auto">
            <div class="card">
                <div class="card-body">
                    @{
                        if (Model.TraineesNotes != null)
                        {

                            @foreach (var note in Model.TraineesNotes!.Split("\n"))
                            {
                                <h4>
                                    @note
                                </h4>
                            }

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
