@model Models.ViewModels.CourseVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetSector" class="control-label"></label>
                <input asp-for="TargetSector" class="form-control" />
                <span asp-validation-for="TargetSector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participants" class="control-label"></label>
                <input asp-for="Participants" class="form-control" />
                <span asp-validation-for="Participants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImplementationPlace" class="control-label"></label>
                <input asp-for="ImplementationPlace" class="form-control" />
                <span asp-validation-for="ImplementationPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysCount" class="control-label"></label>
                <input asp-for="DaysCount" class="form-control" />
                <span asp-validation-for="DaysCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImplementedDays" class="control-label"></label>
                <input asp-for="ImplementedDays" class="form-control" />
                <span asp-validation-for="ImplementedDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginningDate" class="control-label"></label>
                <input asp-for="BeginningDate" class="form-control" type="date" />
                <span asp-validation-for="BeginningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingDate" class="control-label"></label>
                <input asp-for="EndingDate" class="form-control" type="date" />
                <span asp-validation-for="EndingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineesNumber" class="control-label"></label>
                <input asp-for="TraineesNumber" class="form-control" />
                <span asp-validation-for="TraineesNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImplementedCenter" class="control-label"></label>
                <input asp-for="ImplementedCenter" class="form-control" />
                <span asp-validation-for="ImplementedCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursNumber" class="control-label"></label>
                <input asp-for="HoursNumber" class="form-control" />
                <span asp-validation-for="HoursNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImplementationTypeId" class="control-label"></label>
                <select class="form-select" name="ImplementationTypeId">
                    @{
                        if (Model.ImplementationTypeId == null)
                        {
                            <option value="" selected>غير محدد</option>
                        }
                        else
                        {
                            <option value="">غير محدد</option>
                        }
                        foreach (var item in ViewBag.ImplementationType)
                        {
                            if (Model.ImplementationTypeId == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TotalImplementationId" class="control-label"></label>
                <select class="form-select" name="TotalImplementationId">
                    @{
                        if (Model.TotalImplementationId == null)
                        {
                            <option value="" selected>غير محدد</option>
                        }
                        else
                        {
                            <option value="">غير محدد</option>
                        }
                        foreach (var item in ViewBag.TotalImplementation)
                        {
                            if (Model.TotalImplementationId == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <select class="form-select" name="Material">
                    @{

                        if (Model.Material == null)
                        {
                            <option value="" selected>غير محدد</option>
                        }
                        else
                        {
                            <option value="">غير محدد</option>
                        }
                        foreach (var item in ViewBag.Material)
                        {
                            if (Model.Material == item.Key)
                            {
                                <option value="@item.Key" selected>@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CourseType" class="control-label"></label>
                <select class="form-select" name="courseType">
                    @{

                        if (Model.CourseType == null)
                        {
                            <option value="" selected>غير محدد</option>
                        }
                        else
                        {
                            <option value="">غير محدد</option>
                        }
                        foreach (var item in ViewBag.CourseType)
                        {
                            if (Model.CourseType == item.Key)
                            {
                                <option value="@item.Key" selected>@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImplementationMonth" class="control-label"></label>
                <select class="form-select" name="ImplementationMonth">
                    @{

                        if (Model.ImplementationMonth == null)
                        {
                            <option value="" selected>غير محدد</option>
                        }
                        else
                        {
                            <option value="">غير محدد</option>
                        }
                        foreach (var item in ViewBag.ImplementationMonth)
                        {
                            if (Model.ImplementationMonth == item.Key)
                            {
                                <option value="@item.Key" selected>@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ActualCost" class="control-label"></label>
                <input asp-for="ActualCost" class="form-control" />
                <span asp-validation-for="ActualCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Check" class="control-label"></label>
                <select class="form-select" name="Check">
                    @{

                        if (Model.Check == null)
                        {
                            <option value="" selected>غير محدد</option>
                        }
                        else
                        {
                            <option value="">غير محدد</option>
                        }
                        foreach (var item in ViewBag.Check)
                        {
                            if (Model.Check == item.Key)
                            {
                                <option value="@item.Key" selected>@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PdfFile" class="control-label"></label>
                <span>, Pdf file name : @Model.PdfFile</span>
                @{
                    if (Model.PdfFile != null)
                    {

                        <a href="@Url.Action("DownloadFile", "course", new { fileName = Model.PdfFile })" class="btn btn-primary">
                            <i class="bi bi-download"></i>
                        </a>
                    }
                }
                <input asp-for="PdfFile" name="file" class="form-control" type="file" />
                <span asp-validation-for="PdfFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

            <div class="form-group">
              @*  <label asp-for="PrimaryInstructorId" class="control-label"></label>
                <select asp-for="PrimaryInstructorId" id="select-PrimaryInstructor" class="form-control" placeholder="Search for a instructor...">
                    @{
                        foreach (var item in ViewBag.Instructors)
                        {
                            if (Model.PrimaryInstructorId == item.Id)
                            {
                                <option value="@item.Id" selected> @item.FoundationId | @item.Name </option>
                            }
                            else
                            {
                                <option value="@item.Id"> @item.FoundationId | @item.Name </option>
                            }

                        }
                    }
                </select>*@
            </div>
            <div class="form-group">
          @*       <label asp-for="instuctorsIds" class="control-label"></label>
                <select asp-for="instuctorsIds" id="select-secondryInstructors" class="form-control" multiple placeholder="Search for a instructor...">
 *@
    @*                 @{
                        foreach (var item in ViewBag.Instructors)
                        {
                            
                            foreach (var secInstructor in ViewBag.CoursInstructors)
                            {
                                <option>  
                                <span>hllo</span>
                                </option>
                              /*  if (item.Id == secInstructor.InstructorId)
                                {
                                    <option value="@item.Id" selected> @item.FoundationId | @item.Name </option>
                                    ViewBag.CoursInstructors.Remove(secInstructor);
                                }
                                else
                                {
                                    <option value="@item.Id"> @item.FoundationId | @item.Name </option>
                                }*/
                            }

                        }
                    } *@
              @*      @{
                        foreach (var item in ViewBag.Instructors)
                        {
                            bool isIn = false;
                            if (Model.SecondryInstructors != null)
                            {

                                foreach (var inst in Model.SecondryInstructors)
                                {
                                    if (inst.Id == item.Id)
                                    {
                                        isIn = true;
                                        Model.SecondryInstructors.Remove(inst);
                                        break;
                                    }
                                }
                            }
                            if (isIn == true)
                            {
                                <option value="@item.Id" selected> @item.FoundationId | @item.Name </option>
                            }
                            else
                            {
                                <option value="@item.Id"> @item.FoundationId | @item.Name </option>
                            }
                        }
                    }

                </select>*@
            </div>
            <div class="form-group">
                <label asp-for="CourseNatureId" class="control-label"></label>
                <select class="form-select" name="CourseNatureId">
                    @{
                        if (Model.CourseNatureId == null)
                        {
                            <option value="" selected>غير محدد</option>
                        }
                        else
                        {
                            <option value="">غير محدد</option>
                        }
                        foreach (var item in ViewBag.CourseNature)
                        {
                           
                            if (Model.CourseNatureId == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TrainingSpecialistId" class="control-label"></label>
                <select class="form-select" name="TrainingSpecialistId">
                    @{
                        if (Model.TrainingSpecialistId == null)
                        {
                            <option value="" selected>غير محدد</option>
                        }
                        else
                        {
                            <option value="">غير محدد</option>
                        }
                        foreach (var item in ViewBag.TrainingSpecialist)
                        {
                            if (Model.TrainingSpecialistId == item.Id)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    new TomSelect("#select-PrimaryInstructor", { create: false, sortField: { field: "text", direction: "asc" }, maxOptions: false });
    new TomSelect("#select-secondryInstructors", { create: false, sortField: { field: "text", direction: "asc" }, maxOptions: false, maxItems: 3, allowEmptyOption: true });

</script>