@using Models.EnumClasses
@using Models.StaticData
@model IEnumerable<Models.ViewModels.CourseIndexVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>

    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="row col-12 mb-2">
    <div class="col-2">
        <a asp-action="print" class="btn btn-success" target="_blank"> Print Report</a>
    </div>
</div>
<div class="row col-12">
    <div class="card col-2">
        <div class="card-body">
            <div class="row">
                <div class="col-12">

                    <form asp-action="index" id="searchForm">

                        <input type="hidden" name="Page" id="pageInput" value="@ViewBag.Pages.page" />

                        <div class="form-group ">
                            <label class="control-label">برنامج</label>
                            <input name="Name" class="form-control" value="@ViewBag.Search.Name" />
                        </div>
                        <div class="form-group ">
                            <label class="control-label">تاريخ البداية</label>
                            <input name="BeginningDate" class="form-control" type="date" value="@(ViewBag.Search?.BeginningDate != null ? ((DateOnly)ViewBag.Search.BeginningDate).ToString("yyyy-MM-dd") : "")" />
                        </div>
                        <div class="form-group ">
                            <label class="control-label">تاريخ النهاية</label>
                            <input name="EndingDate" class="form-control" type="date" value="@(ViewBag.Search?.EndingDate != null ? ((DateOnly)ViewBag.Search.EndingDate).ToString("yyyy-MM-dd") : "")" />
                        </div>
                        <div class="form-group ">
                            <label name="ImplementationPlace" class="control-label">مكان التنفيذ </label>
                            <input name="ImplementationPlace" value="@ViewBag.Search.ImplementationPlace" class="form-control" />
                        </div>
                        <div class="form-group ">
                            <label name="ImplementedCenter" class="control-label">مركز التنفيذ</label>
                            <input name="ImplementedCenter" value="@ViewBag.Search.ImplementedCenter" class="form-control" />
                        </div>
                        <div class="form-group ">
                            <label name="ImplementationTypeId" class="control-label">نوع التنفيذ</label>
                            <select class="form-select" name="ImplementationTypeId">
                                @{
                                    if (ViewBag.Search.ImplementationTypeId == null)
                                    {
                                        <option value="" selected>غير محدد</option>
                                    }
                                    else
                                    {
                                        <option value="">غير محدد</option>
                                    }
                                    foreach (var item in ViewBag.ImplementationType)
                                    {
                                        if (ViewBag.Search.ImplementationTypeId == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group ">
                            <label name="TotalImplementationId" class="control-label">اجمالي التنفيذ</label>
                            <select class="form-select" name="TotalImplementationId">
                                @{
                                    if (ViewBag.Search.TotalImplementationId == null)
                                    {
                                        <option value="" selected>غير محدد</option>
                                    }
                                    else
                                    {
                                        <option value="">غير محدد</option>
                                    }
                                    foreach (var item in ViewBag.TotalImplementation)
                                    {
                                        if (ViewBag.Search.TotalImplementationId == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group ">
                            <label name="Check" class="control-label">حالة البرنامج</label>
                            <select class="form-select" name="Check">
                                @{

                                    if (ViewBag.Search.Check == null)
                                    {
                                        <option value="" selected>غير محدد</option>
                                    }
                                    else
                                    {
                                        <option value="">غير محدد</option>
                                    }
                                    foreach (var item in ViewBag.Check)
                                    {
                                        if (ViewBag.Search.Check == item.Key)
                                        {
                                            <option value="@item.Key" selected>@item.Value</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group  ">
                            <label name="CourseNatureId" class="control-label">طبيعة الدورة</label>
                            <select class="form-select" name="CourseNatureId">
                                @{
                                    if (ViewBag.Search.CourseNatureId == null)
                                    {
                                        <option value="" selected>غير محدد</option>
                                    }
                                    else
                                    {
                                        <option value="">غير محدد</option>
                                    }
                                    foreach (var item in ViewBag.CourseNature)
                                    {
                                        if (ViewBag.Search.CourseNatureId == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group ">
                            <label class="control-label">المدرب</label>
                            <input name="Instructor" class="form-control" value="@ViewBag.Search.Instructor" />
                        </div>
                        <div class="form-check form-switch row mt-2">
                            <div class=" ">

                                @{

                                    if (ViewBag.Search.Sort)
                                    {
                                        <input class="form-check-input" name="Sort" value="true" checked type="checkbox">
                                    }
                                    else
                                    {
                                        <input class="form-check-input" name="Sort" value="true" type="checkbox">
                                    }
                                }
                                <div class="">
                                    <label class="form-check-label" for="Sort">ترتيب تنازلي</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 ms-3">
                                <input type="submit" value="search" class="btn btn-primary" />
                            </div>
                            <div class="col-4">
                                <a type="button" asp-action="index" class="btn btn-danger "> reset</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="table-container">
            <table class="table table-striped table-bordered text-nowrap">
                <thead class="bg-primary text-white" style="background-color:#5D7B9D  ">
                    <tr>
                        <th>#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TargetSector)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Participants)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImplementationPlace)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DaysCount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImplementedDays)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BeginningDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndingDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TraineesNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImplementedCenter)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HoursNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImplementationTypeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalImplementationName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoomNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Material)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImplementationMonth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActualCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Check)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PdfFile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Link)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RatingSpecialist)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TraineesRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseNatureName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrainingSpecialistName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EnterName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstInstructorName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SecondInstructorName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ThirdInstructorName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ForthInstructorName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = (ViewBag.Pages.page * 30) - 29;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@index</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TargetSector)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Participants)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImplementationPlace)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DaysCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImplementedDays)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeginningDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndingDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TraineesNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImplementedCenter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoursNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImplementationTypeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalImplementationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomNumber)
                            </td>
                            <td>
                                @(item.Material.HasValue ? StaticData.material[item.Material.Value] : "")
                            </td>
                            <td>
                                @{
                                    if (item.CourseType.HasValue)
                                    {

                                        @StaticData.courseType[item.CourseType.Value]
                                    }

                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @{
                                    if (item.ImplementationMonth.HasValue)
                                    {

                                        @StaticData.implementationMonth[item.ImplementationMonth.Value]
                                    }

                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActualCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @{
                                    if (item.Check.HasValue)
                                    {

                                        @StaticData.check[item.Check.Value]
                                    }

                                }
                            </td>
                            <td>
                                @{
                                    if (item.PdfFile != null)
                                    {

                                        <a href="@Url.Action("DownloadFile", "course", new { fileName = item.PdfFile })" class="btn btn-primary">
                                            <i class="bi bi-download"></i>
                                        </a>
                                    }
                                }
                            </td>
                            <td>
                                <a href="@item.Link" target="_blank">@item.Link </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RatingSpecialist)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TraineesRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseNatureName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrainingSpecialistName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnterName)
                            </td>
                            <td>
                                @item.FirstInstructorName
                            </td>
                            <td>
                                @item.SecondInstructorName
                            </td>
                            <td>
                                @item.ThirdInstructorName
                            </td>
                            <td>
                                @item.ForthInstructorName
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-dark">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info ">Details</a>
                                <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#deleteModal" data-courseid="@item.Id">
                                    Delete
                                </button>
                                <a asp-action="index" asp-route-id="@item.Id" asp-controller="CourseInstructor" type="button" class="btn btn-success ">المدربين</a>
                                <a asp-action="Course" asp-route-id="@item.Id" asp-controller="trainee" type="button" class="btn btn-primary ">المتدربين</a>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mt-2">
    @{
        if (Model.Count() != 0)
        {
            <div style="display: flex; justify-content: center;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination" style="display: flex; justify-content: center; align-items: center;">
                        <!-- First Button -->
                        <li class="page-item @(ViewBag.Pages.page == 1 ? "disabled" : "")">
                            <a href="#" class="page-link" onclick="changePage(1)">
                                First
                            </a>
                        </li>

                        <!-- Previous Button -->
                        <li class="page-item @(ViewBag.Pages.page == 1 ? "disabled" : "")">
                            <a href="#" class="page-link" onclick="changePage(@(ViewBag.Pages.page - 1))">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <!-- Page Numbers -->
                        @if (ViewBag.Pages.totalPages > 0)
                        {
                            int currentPage = ViewBag.Pages.page;
                            int totalPages = (int)ViewBag.Pages.totalPages;

                            int startPage = Math.Max(1, currentPage - 1);
                            int endPage = Math.Min(totalPages, startPage + 2);

                            if (endPage - startPage < 2)
                            {
                                startPage = Math.Max(1, endPage - 2);
                            }

                            for (int i = startPage; i <= endPage; i++)
                            {
                                <li class="page-item @(i == currentPage ? "active" : "")">
                                    <a href="#" class="page-link" onclick="changePage(@i)">@i</a>
                                </li>
                            }
                        }

                        <!-- Next Button -->
                        <li class="page-item @(ViewBag.Pages.page == ViewBag.Pages.totalPages ? "disabled" : "")">
                            <a href="#" class="page-link" onclick="changePage(@(ViewBag.Pages.page + 1))">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        <!-- Last Button -->
                        <li class="page-item @(ViewBag.Pages.page == ViewBag.Pages.totalPages ? "disabled" : "")">
                            <a href="#" class="page-link" onclick="changePage(@ViewBag.Pages.totalPages)">
                                Last
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        }
    }
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this course ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" action="/manage/course/delete/">
                    <input type="hidden" name="id" id="courseIdInput" value="" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var id = button.getAttribute('data-courseid');
        var input = document.getElementById('courseIdInput');
        input.value = id;
    });

</script>
<script>
    function changePage(pageNumber) {
        var totalPages = @ViewBag.Pages.totalPages;
        if (pageNumber < 1 || pageNumber > totalPages) return;

        document.getElementById("pageInput").value = pageNumber;
        document.getElementById("searchForm").submit();
    }
</script>


<style>
    .table-container {
        max-height: 750px; /* التحكم في ارتفاع الجدول */
        overflow-y: auto; /* تفعيل التمرير العمودي */
        border: 2px solid black; /* حدود واضحة للجدول */
        position: relative;
    }

    .table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0; /* إزالة الفراغات بين الحدود */
    }

        .table thead {
            position: sticky;
            top: 0;
            color: white;
            z-index: 2;
        }

        .table th {
            padding: 10px;
            border: 2px solid black; /* حدود ثابتة للهيدر */
            border-bottom: 2px solid black !important; /* تأكيد ثبات الحد السفلي */
        }

        .table tbody td {
            border: 2px solid black; /* تأكيد ظهور الحدود داخل الجدول */
        }

</style>
