@model IEnumerable<Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<a asp-action="print" class="btn btn-success" target="_blank"> Print Report</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetSector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementationPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementedDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineesNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementedCenter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementationMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Check)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfFile)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnterName)
            </th>
            <th>
                المدرب الاول
            </th>
            <th>
                <span>المدرب الثاني </span>
            </th>
            <th>
                <span>المدرب الثالث </span>
            </th>
            <th>
                <span>المدرب الرابع </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalImplementation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseNature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetSector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Participants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImplementationPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImplementedDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginningDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TraineesNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImplementedCenter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImplementationMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Check)
                </td>
                <td>
                    @{
                        if (item.PdfFile != null)
                        {

                            <a href="@Url.Action("DownloadFile", "course", new { fileName = item.PdfFile })" class="btn btn-primary">
                                <i class="bi bi-download"></i>
                            </a>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnterName)
                </td>

               @{
                    if (item.Instructors != null)
                    {

                        foreach (var instructor in item.CoursesInstructors.OrderBy(e => e.Position))
                        {


                                <td><span>@instructor.Instructor.Name</span></td>
            
                        }
                    }
                        for (int i = 1; i <= 4 - item.Instructors.Count(); i++)
                        {
                            <td></td>
                        }

                } 

                <td>

                    @Html.DisplayFor(modelItem => item.ImplementationType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalImplementation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseNature.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-dark">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info ">Details</a>
                    <a asp-action="Course" asp-route-id="@item.Id" asp-controller="trainee" type="button" class="btn btn-primary ">المتدربين</a>
                    <a asp-action="index" asp-route-id="@item.Id" asp-controller="CourseInstructor" type="button" class="btn btn-success ">المدربين</a>
                    <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#deleteModal" data-courseid="@item.Id">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this course ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" action="/manage/course/delete/">
                    <input type="hidden" name="id" id="courseIdInput" value="" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var id = button.getAttribute('data-courseid');
        var input = document.getElementById('courseIdInput');
        input.value = id;
    });
</script>