@model IEnumerable<Models.TotalImplementation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered text-nowrap">
    <thead class="bg-primary text-white" style="background-color:#5D7B9D  ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-dark">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-info ">Details</a> |
                    <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#deleteModal" data-totalImplementationid="@item.Id">
                        <i class="bi bi-trash3"></i> Delete
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>

                    <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this totalImplementation ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deleteForm" method="post" action="/manage/totalImplementation/delete/">
                    <input type="hidden" name="id" id="totalImplementationIdInput" value="" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var id = button.getAttribute('data-totalImplementationid');
        var input = document.getElementById('totalImplementationIdInput');
        input.value = id;
    });
</script>