@using Models.StaticData
@model Models.ViewModels.EmployeeVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.FoundationId)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.FoundationId)</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.Name)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.Name)</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.Gender)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>
                @{
                    if (Model.Gender.HasValue)
                    {
                        @StaticData.gender[Model.Gender.Value]
                    }
                }
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.Major)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.Major)</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.Job)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.Job)</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.Department)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.Department)</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.WorkPlace)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.WorkPlace)</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.PhoneNumber)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.PhoneNumber)</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.Belong)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>
                @{
                    if (Model.Belong.HasValue)
                    {
                        @StaticData.belong[Model.Belong.Value]
                    }
                }
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.CompanyNameForForeign)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.CompanyNameForForeign)</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.Sector)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.Sector)</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <h4><b>@Html.DisplayNameFor(model => model.Degree)</b></h4>
        </div>
        <div class="col-1">
            <h4>:</h4>
        </div>
        <div class="col-2">
            <h4>@Html.DisplayFor(model => model.Degree)</h4>
        </div>
    </div>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
